

<div nz-row>
  <div nz-col nzSpan="6"></div>
  <div nz-col nzSpan="12">
    <form
    nz-form
    [formGroup]="validateForm"

    class="sell-form"
    (ngSubmit)="submitForm()"
    >
    <h2>Vender viajes!</h2>
      <nz-form-item >
        <nz-form-control nzErrorTip="Ingrese el nombre del Comprador">
          <nz-input-group nzPrefixIcon="user">
            <input
              type="text"
              nz-input
              formControlName="userName"
              placeholder="Nombre de comprador"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item >
     <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Seleccione un paquete" (ngModel)="selectedValue" >
      <nz-option nzLabel={{item.nombre}} nzValue={{item.id}} *ngFor="let item of data">{{item.nombre}}</nz-option>
    </nz-select>
      </nz-form-item>
      <nz-form-item>
      <div nz-row>
        <div nz-col nzSpan="12"><label>Cantidad de adultos </label></div>
        <div nz-col nzSpan="12">
          <nz-input-number [(ngModel)]= adultValue [nzMin]="1" [nzMax]="10" [nzStep]="1" [nzPlaceHolder]="'0'"></nz-input-number>
        </div>
      </div>
    </nz-form-item>
      <nz-form-item>
    <div nz-row>
        <div nz-col nzSpan="12"><label>Cantidad de niños </label></div>
        <div nz-col nzSpan="12">
          <nz-input-number [(ngModel)]= childValue [nzPlaceHolder]="'0'" [nzMin]="0" [nzMax]="10" [nzStep]="1" class="input-number"></nz-input-number>
        </div>
      </div>
    </nz-form-item>
      <div nz-row class="sell-form-margin"></div>
      <button
        nz-button
        class="sell-form-button sell-form-margin"
        [nzType]="'primary'"       >
        Vender
      </button>
    </form>
  </div>
  <div nz-col nzSpan="6"></div>
</div>
