<h2>Listado de Paquetes disponibles</h2>

 <nz-list nzItemLayout="horizontal" >
      <nz-list-item *ngFor="let item of data">
        <nz-list-item-meta
        nzAvatar="user"
        >

            <nz-list-item-meta-title>
              <a href="#">{{ item.nombre }}</a>
            </nz-list-item-meta-title>
            <nz-list-item-meta-description>
              Precio Adulto: ${{ item.precio_mayor }} - Precio Menor Edad: ${{item.precio_menor}}
            </nz-list-item-meta-description>
        </nz-list-item-meta>

      </nz-list-item>
      <nz-list-empty *ngIf="data.length === 0"></nz-list-empty>
    </nz-list>
